@keyframes Fade {
	0% {
		transform: translateX(-30%);
	}
	100% {
		transform: translateX(0);
	}
}

.item {
	animation: Fade 0.8s;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	width: 300px;
	max-width: 100%;
	box-shadow:
		rgba(0, 0, 0, 0.15) 0px 15px 25px,
		rgba(0, 0, 0, 0.05) 0px 5px 10px;

	display: flex;
	flex-direction: column;
}
